/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }  
  html, body {
    line-height: 1;
  }  
  ol, ul {
    list-style: none;
  }  
  a {
    text-decoration: none;
  }  
  img {
    max-width: 100%;
    height: auto;
  }

  /* Variables */
  $primary-color: #ff5e45;
  $secondary-color: #9b9796;
  $text-color: #3d1101;
  $bg-color: #efe9e7;
  
  /*wrap設定*/
  .wrap {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
  }
  
  /*header設定*/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 1000px;
    max-width: 100%;
    z-index: 1000;
    background-color: rgba(5, 5, 5, 0.3);
    h1 a {
      background-image: url("../img/logo_w@svg.svg");
      height: 24px;
      width: 120px;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
      background-size: contain;
      display: block;
      margin: 15px 30px;
    }  
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        padding: 15px 10px;
        display: block;
        color: white;
        &:hover {
          background-color: gray;
        }
      }
    }    
  }  
  @media (max-width: 767px) {
    .header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }    
  
  /*banner設定*/
  .banner {
    background-image: url("../img/header_desktop.png");
    background-size: cover;
    background-position: center;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 30px;
      background-color: rgba(0, 0, 0, 0.3);
      h2 {
        font-size: 32px;
        margin-bottom: 20px;
      }
      h2, p {
        text-align: center;
        color: white;
        line-height: 1.5em;
      }
    }
  }  
  @media (max-width: 767px) {
    .banner {
      background-image: url("../img/header_mobile.png");
    }
  }
  
  /*footer設定*/
  .footer {
    background-color: $bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    .address {
      display: flex;
      justify-content: flex-start;
      gap: 50px;
      li {
        width: 30%;
      }
      h2, p, li {
        color: $text-color;
        line-height: 1.5;        
      }
      h2 {
        font-size: 24px;
        margin-bottom: 20px;
        white-space: nowrap;
      }
      ul {
        list-style: disc;
        white-space: nowrap;
        padding-left: 20px;
      }
    }  
    .link {
      ul {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 20px;
      }
      a:hover {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
      }
    }
  }     
  @media (max-width: 767px) {
    .footer {
      flex-direction: column;
    }
    .about {
      display: none;
    }
    .address li {
      width: 100%;
      margin-bottom: 30px;
    }
  }